* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:root {
    --darkGray: rgb(26, 26, 26);
    --gray: rgb(39, 40, 48);
    --yellow: rgb(190, 161, 32);
    --widthAside: calc(15vw + 50px);
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
body {
    font-family: montserrat, sans-serif;
    line-height: 1.55;
    background-color: var(--darkGray);
    color: #fff;
}
main {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}
.title {
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
    line-height: 54px;
    border-bottom: 5px solid var(--yellow);
}
.subtitle {
    font-size: 28px;
}
.button {
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s transform;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--yellow);
}

.text div {
    display: inline-block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.aside {
    height: 100vh;
    padding: 50px 20px;
    /* width: 300px; */
    width: var(--widthAside);
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--gray);
    border-right: 2px solid rgb(63, 63, 63);
}
.aside nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 40px;
    height: 100%;
}
.aside .logo {
    font-size: 32px;
    font-weight: 600;
    width: min-content;
    margin: 0 auto;
    border-bottom: 5px solid var(--yellow);
}
.aside nav ul li {
    margin-top: 15px;
    text-decoration: none;
    transition: 0.4s transform;
}
.aside nav ul li:hover {
    transform: translateX(12px);
    color: var(--yellow);
}

nav ul li {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.08rem;
    margin-top: 10px;
}

.home .menu {
    display: none;
    width: 100%;
    position: fixed;
    padding-bottom: 5px;
    background-color: var(--gray);
    top: 0;
    left: 0;
}
.home .menu ul {
    display: flex;
    justify-content: space-around;
}
.home .menu ul li {
    text-align: center;
    display: inline-block;
}

section {
    height: 100vh;
    margin-left: var(--widthAside);
}
.home {
    position: relative;
}
.wrapper {
    height: 100%;
    padding: 0 75px;
}
.home__grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}
.home__grid_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.home__grid_left .title span {
    color: var(--yellow);
}
.home__grid_left .descr {
    margin-top: 30px;
    font-size: 20px;
}
.home__grid_left .button {
    margin-top: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: var(--yellow);
}
.home__grid_right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__grid_right img {
    padding: 8px;
    width: 400px;
    border-top: 10px solid var(--yellow);
    border-right: 10px solid var(--yellow);
    border-top-right-radius: 50px;
}
.home .button {
    padding-right: 35px;
    border-bottom-right-radius: calc(10% + 30px);
    /* border-bottom-right-radius: 38px; */
}

.about__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .title {
    margin-top: 50px;
}

.about__descr {
    margin-top: 50px;
    font-size: 20px;
}
.about__footer {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 3vw;
    margin-top: 50px;
    margin-bottom: 15vh;
}
.about__footer .info ul {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about__footer .skills ul {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: var(--yellow);
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}
.about__footer ul li {
    margin-top: 10px;
}
.about__footer ul li span {
    font-weight: normal;
    margin-left: 5px;
}
.portfolio {
    height: min-content;
}
.portfolio .title {
    margin-top: 50px;
}
.portfolio__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding-bottom: 10vh;
}
.portfolio__item {
    border: 4px solid var(--gray);
    width: 380px;
    margin: 20px 20px 0 0;
    height: 220px;
    transition: 0.3s all;
    cursor: pointer;
}
.portfolio__item:hover {
    box-shadow: 0 0 15px var(--yellow);
    transform: scale(1.02);
}
.portfolio__item img {
    height: 100%;
    width: 100%;
}

.footer {
    height: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    background-color: var(--darkGray);

    background: linear-gradient(180deg, var(--darkGray) 40%, #000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.footer p {
    text-align: center;
    color: #fff;
    font-weight: 300;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .aside {
        width: calc(var(--widthAside) + 40px);
    }
    .home__grid {
        grid-template-columns: 1fr;
    }
    .home__grid_right {
        display: none;
    }

    .about__footer .info ul {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .aside {
        display: none;
    }
    .home .menu {
        display: block;
    }
    section {
        margin-left: auto;
    }
    .wrapper {
        padding: 0 40px;
    }
}

@media screen and (max-width: 600px) {
    .about {
        height: min-content;
    }
    .about .about__footer {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
